<fieldset>
  <legend>Author</legend>

  <div class="control-group">
	  <label class="control-label" for="spec_author_name">Name</label>
	  <div class="controls">
	    <input id="spec_author_name" type="text" ng-model="spec.author.name" required>
	  </div>
	</div>
  <div class="control-group">
	  <label class="control-label" for="spec_author_email">Email</label>
	  <div class="controls">
	    <input id="spec_author_email" type="email" ng-model="spec.author.email" required>
	  </div>
	</div>
  <!--
  <div class="control-group">
	  <label class="control-label" for="spec_author_github">GitHub</label>
	  <div class="controls">
	    <input id="spec_author_github" type="text" ng-model="spec.author.github" required>
	  </div>
	</div>-->
</fieldset>
