!track.lua
!ngxjor/lib/*.lua
!ngxjor/*.lua
!lib/*.lua
views/*.lua
web.lua
*.log
*.pid
node_modules
.*.swp
*.compiled
/Gemspec.local
/.idea
/static/**/*.map
/static/active-docs/templates.js
/static/active-docs/tip_descriptions.js
.DS_Store
/.rvmrc
.sass-cache
/coverage
*.sublime*
/.ruby-version
/.bundle
/.vagrant
/.listen_test
/release
/app/assets/compiled/*
/app/vendor/jasmine/
.rspec
