.middleware-edit {
  overflow-x: hidden;
  display: table-cell;
}

.middleware-documentation {
  float: right;
}

.last-trace-request, .last-trace-response {
  overflow-y: auto;
}

.middleware-edit-title {
  display: inline-block;
}

.middleware-edit-description {
  display: inline-block;
  max-height: 3em;
  max-width: 98%;
  overflow: auto;

  margin-bottom: 0;

  &.is-input {
    width: 98%;
  }
}
.middleware-edit-action {
  display:inline-block;
  vertical-align: top;
}

.log-console {
  overflow-y: auto;
  position: relative;
  margin: 0;
  padding: 0;
}
.log-console-actions {
  position: absolute;
  right: 1.1em;
  top: 0.9em;
  list-style: none;
}

.last-trace {
  overflow-y: auto;
  max-height: 100%;

  .trace-header-name {
    width: 45%;
  }
}

.last-trace-call-box {
  height:2em;
  padding: 0.5em 10em 0.5em 0;
  position: absolute;
  top: 0;
  left: 1em;
  right: 2em;
  background: white;
  margin: 0 -0.5em;
}

.last-trace-call {
  margin: 0;
  word-break: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}

.last-trace-actions {
  position: absolute;
  right: 0;
  top: 0.5em;
}

.last-trace-action {
  display: inline-block;
  font-size: 1em;
  margin-left: 1em;
}

.last-trace-request,
.last-trace-response,
.log-console {
  padding: 0.5em;
}

.last-trace-container .last-trace-request {
  padding-top: 3em;
}

.last-trace-request,
.last-trace-response {
  table {
    padding: $baseLineHeight/4;
    border: 1px solid $grayLighter;
    width: 100%;
  }

  tr {
    border-bottom: 1px solid $grayLighter;
    word-break: break-word;
    text-align: left;
  }

  td, th {
    padding: $baseLineHeight/4;
  }

  &.split-pane {
    height: auto;
  }
  min-height: 20%;
  max-height: 80%;
}

.last-trace-container {
  height: 100%;
  position: relative;
}

.last-trace-wrap {
  &:last-child {
    flex: 1;
    overflow: auto;
  }
}


