<div class="welcome">
  <h1>Welcome to Apitools!</h1>

  <p class="lead">API tools for developers.</p>

  <div class="description">
    <div class="span4">
      <i class="icon icon-logo icon-eye-open"></i>

      <h2>Monitor API calls</h2>

      <p>Easily debug and test your apps API calls.</p>
    </div>
    <div class="span4">
      <i class="icon icon-logo icon-code"></i>

      <h2>Modify your API calls</h2>

      <p>Speed up your integration by adapting APIs to you, not the other way round.</p>

    </div>
    <div class="span4">
      <i class="icon icon-logo icon-bar-chart"></i>

      <h2>Measure your traffic</h2>

      <p>Review, compare and assess the performance of your API calls.</p>
    </div>
  </div>

  <a href="services/new" class="action">Get started! <i class="icon icon-chevron-right"></i></a>

</div>
