<div class="modal-content">
<div class="modal-row">
  <header class="modal-header">
    <input ng-show="editTitle" ng-keyup="saveMetaOnEnter('editTitle', $event.keyCode)"
           placeholder="Name" type="text" id="middleware_name" ng-model="middleware.name"
           required/>

    <h3 class='middleware-edit-title' ng-show="!editTitle">{{ middleware.name }}</h3>
    <!-- <a ng-href="middlewares/{{ middleware.spec_id }}" ng-show="hasSpec">go to spec</a> -->
    <a href ng-click="editTitle = !editTitle"><i
        ng-class="{ 'icon-pencil': !editTitle, 'icon-ok': editTitle }"></i></a>
    <a class="close" ng-click="close()">&times;</a>

    <div class="middleware-metadata">
      <textarea ng-keyup="saveMetaOnEnter('editDescription', $event.keyCode)"
                class="middleware-edit-description is-input" ng-show="editDescription"
                ng-model="middleware.description"></textarea>

      <p class="middleware-edit-description" ng-show="!editDescription">{{ middleware.description
        }}</p>
      <a href class="middleware-edit-action" ng-click="editDescription = !editDescription"><i
          ng-class="{ 'icon-pencil': !editDescription, 'icon-ok': editDescription }"></i></a>
      <a class="middleware-documentation" docs-ref="middlewares" target="_blank">Documentation</a>
    </div>
  </header>
</div>

<div class="modal-row modal-center">
  <form class="modal-body middleware-edit" name="form" ng-submit="save(middleware)">
    <div split-panes="horizontal">
      <div pane-set-height split-panes="vertical" pane-min-size="20%" pane-max-size="80%">
        <div  pane-min-size="20%" pane-max-size="80%" >
          <textarea id="middleware_code" ng-model="middleware.code"
                                                 ui-codemirror="codemirror"
                                                 ui-refresh="active"></textarea>
        </div>

        <div pane-min-size="20%" pane-max-size="80%">
          <ul pane-set-height class="log-console logs">
            <li class="log-console-actions" ng-show="logs.length > 0">
              <a href ng-click="clear_console()">Clear Console</a>
            </li>
            <li class="log-empty" ng-show="logs.length == 0">
              <p>Use <b>console.log(...)</b> in the middleware code to print to this log console.</p>
            </li>

            <li ng-repeat="log in logs track by log._id" class="log-{{log.level}}">
              <pre highlight="log.msg" highlight-content-type="'text/x-lua'"></pre>
            </li>
          </ul>
        </div>
      </div>

      <div class="last-trace" ng-controller="LastTraceController">
        <div pane-set-height split-panes="vertical" class="last-trace-container">
          <div class='last-trace-request' ng-show="last_trace">
            <div class="last-trace-call-box">
              <h4 class="last-trace-call">{{ last_trace.req.method }}&nbsp;{{ last_trace.req.uri }}</h4>

              <div class="last-trace-actions">
                <a class="last-trace-action" href ng-click="load_last_trace()"
                   tooltip-append-to-body=true tooltip="reload last trace">
                   <i class="icon icon-refresh"></i> Refresh</a>
                <a class="last-trace-action" href ng-click="redo(last_trace)"
                   tooltip-append-to-body=true tooltip="redo call">
                   <i class="icon icon-play"></i> Redo</a>
              </div>
            </div>
            <div trace-headers="last_trace.req.headers"></div>
            <pre highlight="last_trace.req.body" ng-if="has_body(last_trace.req)"
                 highlight-content-type="content_type(last_trace.req)"></pre>
          </div>

          <div class='last-trace-response'>
            <div ng-if="!loading">
              <h4>Response Status: {{ last_trace.res.status }}</h4>
              <h3 ng-hide="last_trace"> No calls yet.
                <small>After you make your first request it'll be loaded here.</small>
              </h3>
              <div trace-headers="last_trace.res.headers"></div>
              <pre highlight="last_trace.res.body" ng-if="has_body(last_trace.res)"
                 highlight-content-type="content_type(last_trace.res)"></pre>
            </div>

            <div class="last-trace-loading loading btn-large" ng-show="loading">
              <i class="icon-refresh icon-spin"></i> <span>Loading...</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-row">
  <footer class="modal-footer">
    <button type=button ng-click="delete()" class="pull-left btn"><i class="icon-trash"></i>
      Remove
    </button>

    <button type=button ng-click="saveAndDeploy()" class="btn btn-primary"
            tooltip="Save & keep working on this middleware" tooltip-append-to-body="true"><i
        class="icon-save"></i> Apply
    </button>
  </footer>
</div>
</div>
