<div class="main-menu-inner">
  <nav class="container">
    <a href="." class="brand"><img ng-src="/assets/images/logo.png" /></a>
    <!-- <p class="navbar-text pull-right">Logged in as <a class="navbar-link" href="#">Username</a></p> -->

    <ul class="nav">
      <!-- <li ng-class="{ active: $state.includes('dashboard') }"><a href="dashboard">Dashboard</a></li> -->

      <li class='services-menu'
          ng-class="{ active: $state.includes('service') || $state.includes('services') || $state.is('traces') }">
        <a class="dropdown-toggle" data-toggle="dropdown" href>
          {{ submenu.service.name || 'All Services' }} <i class="icon-collapse"></i>
          <ul id="service-list" class="dropdown-menu main-menu-dropdown">
            <li class='all-services'><a href="services" ng-click="selectService(null)">All Services</a></li>
            <li class='one-service' ng-repeat="service in submenu.services track by service._id">
              <a ng-href="services/{{service._id}}" ng-click="selectService(service)">{{ service.name }}</a>
            </li>
            <li class="divider"></li>
            <li><a ng-href="services/new"><i class="icon icon-plus"></i> Add New</a></li>
          </ul>
        </a>
      </li>

      <li ng-class="{ active: $state.includes('notifications') }"><a href="notifications" >Notifications</a></li>
    </ul>

    <ul class="nav pull-right">
      <li ng-show="config.get('paired')">
        <a ng-show='brain.host' ng-href="{{brain}}/slugs" >Go to global dashboard</a>
      </li>

      <li ng-hide="config.get('paired')">
        <a ng-href="pair" >Pair with global dashboard</a>
      </li>
    </ul>
  </nav>
</div>
