//Variables and custom mixins

//Colors
$color-primary: #ffffff ;
$color-secondary: #ffffff;
$color-tertiary: #ffffff;
$color-quaternary: #ffffff;

//Font Sizes
$fontSizeXS: 10px;
$fontSizeS: 12px;
$fontSizeM: 14px;
$fontSizeL: 18px;
$fontSizeXL: 20px;

//mixins
/*
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}
*/