.slide-left-enter, .slide-left-leave,
.slide-right-enter, .slide-right-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .4s;
    position: absolute;
    top: 0;
}

.slide-right-enter { margin-left: 50%;  opacity: 0; }
.slide-right-enter-active { margin-left: 0;      opacity: 1; }

.slide-right-leave { margin-left: 0;      opacity: 1; position: relative;}
.slide-right-leave-active { margin-left: 50%;  opacity: 0; }


.slide-left-enter  { margin-left: -50%; opacity: 0; }
.slide-left-enter-active  { margin-left: 0;      opacity: 1; }

.slide-left-leave  { margin-left: 0;      opacity: 1; position: relative; }
.slide-left-leave-active  { margin-left: -50%; opacity: 0; }
