<ul class="side-menu">
  <!--
  <li><a popover-title="Not implemented yet" popover-placement="right" popover="This is on our TODO list and will be implemented in next version."><i class="icon icon-gears"></i> See Pipeline Versions</a></li>
  <li class="divider"></li>

  <li><a href="middlewares/"><i class="icon icon-search"></i> List All Middlewares</a></li>
  <li class="divider"></li>
  -->
</ul>


<a rel="external" class="help-link" docs-ref="pipeline"><i class="icon-help"></i></a>
<p>You can think of the ‘Pipeline’ as <a href="http://net.tutsplus.com/tutorials/exploring-rack/" rel="external">Rack stack</a>
  or <a href="http://www.senchalabs.org/connect/" rel="external">NodeJS Connect</a>.
  Also check our documentation on Processing Pipeline.</p>
<p> Check the  <a rel="external" href="http://tylerneylon.com/a/learn-lua/">Learn Lua in 15 minutes</a>. For our documentation check <a rel="external" docs-ref="middlewares" >Middleware Guide</a>.</p>
